<div class="chat-preview-element" [class.is-selected]="isSelected" pRipple>
  <div class="avatar-wrapper">
    <app-chat-member-avatar [avatarUrl$]="avatarUrl$" [displayName]="displayName" [isOnline]="isOnline" [color]="avatarColorHex" size="xlarge"></app-chat-member-avatar>
  </div>
  <div class="content">
    <div class="column">
      <div class="title-row">
        <p class="title">{{ displayName }}</p>

        <div class="details">
          <div class="time">
            {{ timeText }}
          </div>
        </div>
      </div>
      <ng-container *ngIf="message; else statusTextTemplate;">
        <div class="subtitle-row">
          <p class="subtitle">{{ message.content }}</p>

          <p-badge class="unread-badge-wrapper" [hidden]="unreadMessagesAmount === 0" [value]="unreadMessagesAmount.toString()"></p-badge>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #statusTextTemplate>
  <div class="subtitle-row">
    <p class="subtitle">{{ statusText }}</p>
  </div>
</ng-template>
