<p-toolbar>
  <div class="p-toolbar-group-start flex gap-5">
    <img src="assets/icons/rounded.png" width="50" height="50">

    <p-button (click)="toggleTheme()" [icon]="getCurrentThemeIcon()" styleClass="p-button-secondary"></p-button>

    <p-dropdown [ngModel]="selectedLanguage" (onChange)="setLanguage($event)" [options]="languageTypes" inputId="country" styleClass="w-full hide-trigger">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="getLanguageProperties(selectedLanguage) as props">
          <span>{{ props.flag }}</span>
        </div>
      </ng-template>
      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center gap-2" *ngIf="getLanguageProperties(language) as props">
          <span>{{ props.flag }}</span>
          <span>{{ props.name }}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="p-toolbar-group-end">
    <ng-container *rxIf="authService.isSignedIn$ then signedInTemplate; else notSignedInTemplate;"/>

    <ng-template #notSignedInTemplate>
      <p-button label="{{ 'signUp.signUp' | translate }}" class="mr-2" (click)="router.navigate(['/auth/sign-up'])"></p-button>
      <p-button label="{{ 'signIn.signIn' | translate }}" styleClass="p-button-secondary mr-2" (click)="router.navigate(['/auth/sign-in'])"></p-button>
    </ng-template>

    <ng-template #signedInTemplate>
      <p-button label="To Application" class="mr-2" (click)="router.navigate(['/chat'])"></p-button>
      <p-button label="Sign Out" styleClass="p-button-secondary mr-2" (click)="signOutBtnAction()"></p-button>
    </ng-template>
  </div>
</p-toolbar>

<p>home-page works!</p>
