<div class="wrapper">
  <ul class="menu-items">
    <li>
      <div class="menu-item">
        <button pButton pRipple class="p-button-text" icon="pi pi-user" (click)="profileClick()"></button>
      </div>
    </li>
    <li>
      <div class="menu-item">
        <button pButton pRipple class="p-button-text" icon="pi pi-cog" (click)="settingsClick()"></button>
      </div>
    </li>
    <li>
      <div class="menu-item">
        <button pButton pRipple class="p-button-text" icon="pi pi-plus-circle" (click)="createChatClick()"></button>
      </div>
    </li>
    <li>
      <div class="menu-item">
        <button pButton pRipple class="p-button-text" icon="pi pi-home" (click)="homeClick()"></button>
      </div>
    </li>
  </ul>
</div>
