<div class="flex min-h-full flex-row justify-between px-6 py-12 lg:px-8 p-component text-[color:var(--text-color)]">
  <div class="w-1/3">
    <form [formGroup]="createForm" (ngSubmit)="create()" class="flex flex-col space-y-6">
      <div class="flex flex-col">
        <label for="name">{{ 'common.name' | translate }}</label>
        <input pInputText [formControl]="createForm.controls.name" id="name" type="text">
      </div>

      <div class="flex flex-col">
        <label for="surname">{{ 'common.surname' | translate }}</label>
        <input pInputText [formControl]="createForm.controls.surname" id="surname" type="text">
      </div>

      <div class="flex flex-col">
        <label for="birthDate">{{ 'common.birthDate' | translate }}</label>
        <p-calendar formControlName="birthDate" inputId="birthDate"></p-calendar>
      </div>

      <div class="flex flex-col">
        <label for="country">{{ 'common.country' | translate }}</label>
        <p-dropdown formControlName="country" [options]="countryTypes" inputId="country" styleClass="w-full">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="createForm.controls.country.value != null">
              <span>{{ getCountryFlagEmoji(createForm.controls.country.value!) }}</span>
              <span>{{ getCountryNameLocale(createForm.controls.country.value!) | translate }}</span>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <span>{{ getCountryFlagEmoji(country) }}</span>
              <span>{{ getCountryNameLocale(country) | translate }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="flex flex-col">
        <label>{{ 'common.gender' | translate }}</label>
        <p-selectButton [options]="[{ label: 'Male', value: Gender.male }, { label: 'Female', value: Gender.female }]" formControlName="gender" optionLabel="label" optionValue="value"></p-selectButton>
      </div>

      <div>
        <p-button [disabled]="createForm.invalid" type="submit" label="{{'profile.create.create' | translate }}"></p-button>
      </div>
    </form>
  </div>
  <div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
      <p-fileUpload mode="advanced" [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Choose file" accept="image/*" [maxFileSize]="1000000" (onSelect)="onSelectAvatarFile($event)" (onRemove)="onRemoveAvatarFile($event)"></p-fileUpload>

      <!--      <input type="file" accept=".png,.jpg" #file placeholder="Choose file" (change)="chooseFile(file.files)" style="display:none;">
            <button type="button" class="btn btn-success" (click)="file.click()">Choose avatar</button>-->
    </div>
    <div>
      <img *ngIf="avatarFileUrl as src" [src]="src" alt="Avatar Image" width="200" height="200">
    </div>
  </div>
</div>
