@import 'assets/styles/tailwind-preflight.css';
//@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

@import "primeicons/primeicons.css";

//@import "primeng/resources/themes/soho-dark/theme.css";
//@import "assets/themes/dark/theme.css";
@import "primeng/resources/primeng.css";

@import '@ctrl/ngx-emoji-mart/picker';

.p-dialog .p-dialog-content {
  padding: 2rem 1.5rem;
}

.hide-trigger .p-dropdown-trigger {
  display: none;
}

.cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.p-button {
  &[hidden] {
    display: none !important;
  }
}

.p-button-transparent {
  background-color: transparent;
  border: none;
  color: var(--text-color-secondary);

  &:enabled:hover {
    background-color: transparent;
    color: var(--text-color);
  }

  &:enabled:active {
    background-color: transparent;
    color: var(--text-color);
  }
}
