<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 p-component text-[color:var(--text-color)]">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="assets/icons/rounded.png" alt="Logotype">
    <h2 class="mt-10 text-center text-2xl font-bold">Sign up a new account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div>
        <label for="username" class="text-sm">{{ 'common.username' | translate }}</label>
        <div class="mt-2">
          <input pInputText formControlName="username" id="username" type="text" autocomplete="username" required class="w-full rounded-md py-1.5">

          <div *ngIf="signUpForm.controls.username.dirty && signUpForm.controls.username.errors as errors" class="mt-2 p-error">
            <small *ngIf="errors['required']">{{ 'common.validation.required' | translate }}</small>
            <small *ngIf="errors['minlength'] as error">{{ ('common.validation.minLength' | translate).format(error['requiredLength']) }}</small>
            <small *ngIf="errors['maxlength'] as error">{{ ('common.validation.maxLength' | translate).format(error['requiredLength']) }}</small>
          </div>
        </div>
      </div>

      <div>
        <label for="email" class="text-sm">{{ 'common.email' | translate }}</label>
        <div class="mt-2">
          <input pInputText formControlName="email" id="email" type="email" autocomplete="email" required class="w-full rounded-md py-1.5">

          <div *ngIf="signUpForm.controls.email.dirty && signUpForm.controls.email.errors as errors" class="mt-2 p-error">
            <small *ngIf="errors['required']">{{ 'common.validation.required' | translate }}</small>
            <small *ngIf="errors['pattern']">{{ 'common.validation.email' | translate }}</small>
          </div>
        </div>
      </div>

      <div>
        <label for="password" class="text-sm">{{ 'common.password' | translate }}</label>
        <div class="mt-2">
          <p-password formControlName="password" id="password" autocomplete="current-password" [toggleMask]="true" inputStyleClass="block w-full rounded-md py-1.5" styleClass="w-full">
          </p-password>

          <div *ngIf="signUpForm.controls.password.dirty && signUpForm.controls.password.errors as errors" class="mt-2 p-error">
            <small *ngIf="errors['required']">{{ 'common.validation.required' | translate }}</small>
            <small *ngIf="errors['minlength'] as error">{{ ('common.validation.minLength' | translate).format(error['requiredLength']) }}</small>
            <small *ngIf="errors['maxlength'] as error">{{ ('common.validation.maxLength' | translate).format(error['requiredLength']) }}</small>
          </div>
        </div>
      </div>

      <div>
        <label for="passwordConfirm" class="text-sm">Confirm password</label>
        <div class="mt-2">
          <p-password formControlName="passwordConfirm" id="passwordConfirm" autocomplete="current-password" [toggleMask]="true" [feedback]="false" inputStyleClass="block w-full rounded-md py-1.5" styleClass="w-full">
          </p-password>

          <div *ngIf="signUpForm.controls.passwordConfirm.dirty && signUpForm.controls.passwordConfirm.errors as errors" class="mt-2 p-error">
            <small *ngIf="errors['required']">{{ 'common.validation.required' | translate }}</small>
            <small *ngIf="errors['equalsToControl']">{{ 'signUp.validation.confirmPasswordNotMatch' | translate }}</small>
          </div>
        </div>
      </div>

      <div>
        <p-button [disabled]="signUpForm.invalid || signUpBtnDisabled" [loading]="signUpBtnDisabled" type="submit" label="{{'signUp.signUp' | translate }}" styleClass="w-full"></p-button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm">
      Already have an account?
      <a (click)="this.router.navigate(['auth/sign-in'])" class="font-semibold leading-6 text-[color:var(--primary-color)] hover:text-[color:var(--primary-400)] cursor-pointer">Sign in!</a>
    </p>
  </div>
</div>
