<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="assets/icons/logo.svg" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{ 'signIn.title' | translate }}</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="signInForm" (ngSubmit)="signIn()">
      <div>
        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">{{ 'common.username' | translate }}</label>
        <div class="mt-2">
          <input formControlName="username" id="username" name="username" type="text" autocomplete="username" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">{{ 'common.password' | translate }}</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-red-600 hover:text-red-500">{{ 'signIn.forgotPassword' | translate }}</a>
          </div>
        </div>
        <div class="mt-2">
          <input formControlName="password" id="password" name="password" type="password" autocomplete="current-password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="flex flex-row items-center space-x-2">
        <div>
          <input formControlName="rememberMe" id="rememberMe" name="rememberMe" type="checkbox" class="w-4 h-4 text-red-600 bg-white-100 border-white-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-white-800 focus:ring-2 dark:bg-white-700 dark:border-white-600">
        </div>
        <div>
          <label for="rememberMe" class="block text-sm font-medium leading-6 text-gray-900">{{ 'signIn.rememberMe' | translate }}</label>
        </div>
      </div>

      <div>
        <button [disabled]="signInForm.invalid || this.signInBtnDisabled" type="submit" class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 disabled:bg-red-500 disabled:cursor-not-allowed focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">{{ "signIn.signIn" | translate }}</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      {{ "signIn.notSignedUp_0" | translate }}
      <a (click)="this.router.navigate(['auth/sign-up'])" class="font-semibold leading-6 text-red-600 hover:text-red-500 hover:cursor-pointer">{{ "signIn.notSignedUp_1" | translate }}</a>
    </p>
  </div>
</div>
